attrs==25.4.0
black==26.1.0
blinker==1.9.0
click==8.3.1
factory_boy==3.3.3
Faker==40.1.2
flake8==4.0.1
flake8-bugbear==22.1.11
Flask==3.1.2
Flask-SQLAlchemy==3.1.1
greenlet==3.3.1
iniconfig==2.3.0
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
librt==0.7.8
MarkupSafe==3.0.3
mccabe==0.6.1
mypy==1.19.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.5.1
pluggy==1.6.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.19.2
pytest==9.0.2
pytokens==0.4.0
SQLAlchemy==2.0.46
sqlalchemy2-stubs==0.0.2a38
typing_extensions==4.15.0
Werkzeug==3.1.5
