name: Python CI/CD Pipeline

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  code-check:
    runs-on: ubuntu-latest
    
    steps:
    
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Setup Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    
    - name: Install all dependencies
      run: |
        python -m pip install --upgrade pip
        
        pip install -r requirements.txt
        
    - name: Check code formatting (black)
      run: black --check main/ tests/
      # Если код не отформатирован - job падает здесь
    
    # Шаг 5: Проверка импортов
    - name: Check import sorting (isort)
      run: isort --check-only main/ tests/
    
    # Шаг 6: Проверка типов
    - name: Type checking (mypy)
      run: mypy main/
    
    # Шаг 7: Запуск тестов
    - name: Run tests (pytest)
      run: pytest tests/ -v
